<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Thêm sản phẩm</title>
  </head>
  <body>
    <form action="/edit" method="post">
      <input type="hidden" name="ind" value="<%=ind%>">
      <input type="text" name="ten" value="<%= bird.ten%>"><br><br>
      <input type="text" name="gia" value="<%= bird.gia%>"><br><br>
      <input type="text" name="hinh" value="<%= bird.hinh%>"><br><br>
      <input type="submit" value="Thêm">
    </form>
  </body>
</html>
